<html>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <head>
        <title>Lines</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css" />
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="static/js/three.min.js"></script>
        <script type="text/javascript" src="static/js/interpreter.js"></script>
        <script type="text/javascript" src="static/js/graphics.js"></script>
        <script type="text/javascript" src="static/js/listeners.js"></script>
    </head>
    <body>
        <div id="usercount">
            <img id="usercount-icon" src="static/images/users.png">
            <span id="usercount-value">1</span>
        </div>
        <div>
            <textarea id="codefield" class="textinput" type="text" name="code" placeholder="Enter your code here" ></textarea>
            <br />
            <input id="codesubmitbutton" class="button" type="button" value="Ready" />
        </div>
    </body>
</html>
